 
# Visual Studio
.vs/

# Build results
bin/
obj/

# Debugging files
*.pdb
*.log
*.suo
*.user
*.cache
*.tmp

# Config files
appsettings.Development.json

# Ignore all .vsidx files
*.vsidx

# Other patterns
*.log
