 
# Visual Studio
.vs/

# Build results
bin/
obj/

# Debugging files
*.pdb
*.log
*.suo
*.user
*.cache
*.tmp

# Config files
appsettings.Development.json

# Ignore all .vsidx files
*.vsidx

# Other patterns
*.log

# Ignore node_modules directory
node_modules/

# Ignore specific files
onboardingtask.client/.eslintrc.cjs
onboardingtask.client/.gitignore
onboardingtask.client/README.md
onboardingtask.client/index.html
onboardingtask.client/package-lock.json
onboardingtask.client/package.json

# Ignore all package-lock.json files
package-lock.json

